<html>
<head>
    <title>Album - <% result[0].title %></title>
</head>
<body>
<h1>Album</h1>
<ul>
    <li>Album ID: <%= result[0].album_number %></li>
    <li>Title: <%= result[0].title %></li>
    <li>Genre: <%= result[0].genre %></li>
    <li>Number of Tracks: <%= result[0].num_tracks %></li>
    <li>Number of Images: <%= result[0].num_images%></li>
</ul>
</body>

</html>